<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-in">{{ serviceInfo.heading }}</h2>
      <p data-aos="fade-in">
        {{ serviceInfo.headingDecryption }}
      </p>
    </div>
    <div class="row">
      <ng-container
        *ngFor="
          let item of serviceInfo.serviceList.slice(
            (page - 1) * pageSize,
            page * pageSize
          )
        "
      >
        <div class="col-md-6 d-flex" data-aos="fade-right">
          <div class="card">
            <div class="card-img">
              <img [src]="item.imageURL" alt="item.imageURl" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="">{{ item.title }}</a>
              </h5>
              <p class="card-text">
                {{ item.Decryption }}
              </p>
              <div class="read-more">
                <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="serviceInfo.serviceList.length"
          [pageSize]="pageSize"
          [(page)]="page"
        />
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button class="btn btn-outline-warning" routerLink="/home">
            Go Back
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
