<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>{{ footerInfo?.heading }}</h3>
          <p>{{ footerInfo?.headingDecryption }}</p>
        </div>
      </div>

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  (subscribeForm.get('email')?.touched &&
                    subscribeForm.get('email')?.hasError('required')) ||
                  (submitted && subscribeForm.get('email')?.errors)
              }"
              placeholder="Enter Email"
            />

            <input type="submit" value="Subscribe" />
          </form>
          <span
            class="text-danger"
            *ngIf="
              (subscribeForm.get('email')?.touched || submitted) &&
              subscribeForm.get('email')?.hasError('required')
            "
            >Email is required</span
          >
          <span
            class="text-danger"
            *ngIf="
              (subscribeForm.get('email')?.touched || submitted) &&
              subscribeForm.get('email')?.hasError('email')
            "
            >Email is not valid</span
          >
          <ngb-alert *ngIf="success" [type]="type">{{
            type=="success"
              ? "Successfully Subscribed"
              : "Oops!This email is already exits"
          }}</ngb-alert>
        </div>
      </div>
    </div>

    <div class="social-links">
      <ng-container *ngFor="let item of footerInfo?.links">
        <a href="#"><i [class]="item"></i></a>
      </ng-container>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Bocor</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
